<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title> Art - Tags Overview</title><style>
body {
    font-family: Verdana, sans-serif;
}
table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    width: 31em;
}

td, th {
    border: 1px solid #080808;
    padding: 8px;    
    vertical-align: top;
}

tr:hover {background-color: #fdf3fd;}

th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #6c3b6c;
    color: white;
}
</style></head>
   <body>
      <h1>Tags Overview</h1>
      <hr>
      <h2>Cubism</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Artists</h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Pablo Picasso( 1881-10-25 to 1973-04-08, born in Malaga )</td>
                  </tr>
                  <td><b>Found: </b>1 Artist(s)
                  </td>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Exhibtions</h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Guernica, <b>Type: </b>PAINTING<br><br><b>Label: </b><br><i>
                           				Guernica Pablo Picasso.
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Pablo Picasso( 1881-10-25 to 1973-04-08, born in Malaga )</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Les Demoiselles d’Avignon, <b>Type: </b>PAINTING<br><br><b>Label: </b><br><i>
                           				Les Demoiselles d’Avignon Picasso.
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Unregistered Artist</li>
                        </ul>
                     </td>
                  </tr>
                  <td><b>Found: </b>2 Exhibition(s)
                  </td>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Gouache</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Exhibtions</h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Feldhase, <b>Type: </b>PAINTING<br><br><b>Label: </b><br><i>
                           				Feldhase Dürrer.
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Unregistered Artist</li>
                        </ul>
                     </td>
                  </tr>
                  <td><b>Found: </b>1 Exhibition(s)
                  </td>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Maria</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr></tr>
      </table>
      <hr>
      <h2>Petersdom</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr></tr>
      </table>
      <hr>
      <h2>Sculpture</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Artists</h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</td>
                  </tr>
                  <td><b>Found: </b>1 Artist(s)
                  </td>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Exhibtions</h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>David, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				David Michelangelo Buonarroti.
                           				
                           					1504
                           						Maybe this year
                           				
                           				
                           					1501
                           						Maybe this year
                           						Maybe neither
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>David, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				David Michelangelo Buonarroti.
                           				
                           					1504
                           					Maybe this year
                           				
                           				
                           					1501
                           					Maybe this year
                           					Maybe neither
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Creation Of Adam, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				Creation Of Adam Michelangelo Buonarroti.
                           				
                           					1504
                           					Maybe this year
                           				
                           				
                           					1501
                           					Maybe this year
                           					Maybe neither
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Pieta, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				Pieta Michelangelo Buonarroti.
                           				
                           					1504
                           					Maybe this year
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <td><b>Found: </b>4 Exhibition(s)
                  </td>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Florence</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Artists</h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</td>
                  </tr>
                  <td><b>Found: </b>1 Artist(s)
                  </td>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Exhibtions</h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>David, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				David Michelangelo Buonarroti.
                           				
                           					1504
                           						Maybe this year
                           				
                           				
                           					1501
                           						Maybe this year
                           						Maybe neither
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>David, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				David Michelangelo Buonarroti.
                           				
                           					1504
                           					Maybe this year
                           				
                           				
                           					1501
                           					Maybe this year
                           					Maybe neither
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Creation Of Adam, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				Creation Of Adam Michelangelo Buonarroti.
                           				
                           					1504
                           					Maybe this year
                           				
                           				
                           					1501
                           					Maybe this year
                           					Maybe neither
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Pieta, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				Pieta Michelangelo Buonarroti.
                           				
                           					1504
                           					Maybe this year
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <td><b>Found: </b>4 Exhibition(s)
                  </td>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Stone</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Artists</h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</td>
                  </tr>
                  <td><b>Found: </b>1 Artist(s)
                  </td>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Exhibtions</h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>David, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				David Michelangelo Buonarroti.
                           				
                           					1504
                           						Maybe this year
                           				
                           				
                           					1501
                           						Maybe this year
                           						Maybe neither
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>David, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				David Michelangelo Buonarroti.
                           				
                           					1504
                           					Maybe this year
                           				
                           				
                           					1501
                           					Maybe this year
                           					Maybe neither
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Creation Of Adam, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				Creation Of Adam Michelangelo Buonarroti.
                           				
                           					1504
                           					Maybe this year
                           				
                           				
                           					1501
                           					Maybe this year
                           					Maybe neither
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Pieta, <b>Type: </b>SCULPTURE<br><br><b>Label: </b><br><i>
                           				Pieta Michelangelo Buonarroti.
                           				
                           					1504
                           					Maybe this year
                           				
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Michelangelo Buonarroti( 1475-03-06 to 1564-02-18 )</li>
                        </ul>
                     </td>
                  </tr>
                  <td><b>Found: </b>4 Exhibition(s)
                  </td>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Surrealism</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Artists</h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Pablo Picasso( 1881-10-25 to 1973-04-08, born in Malaga )</td>
                  </tr>
                  <td><b>Found: </b>1 Artist(s)
                  </td>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Exhibtions</h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Guernica, <b>Type: </b>PAINTING<br><br><b>Label: </b><br><i>
                           				Guernica Pablo Picasso.
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Pablo Picasso( 1881-10-25 to 1973-04-08, born in Malaga )</li>
                        </ul>
                     </td>
                  </tr>
                  <td><b>Found: </b>1 Exhibition(s)
                  </td>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Renaissance</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Artists</h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Albrecht Dürrer( 1471-05-21, born in Nürnberg )</td>
                  </tr>
                  <td><b>Found: </b>1 Artist(s)
                  </td>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Germany</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Artists</h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Albrecht Dürrer( 1471-05-21, born in Nürnberg )</td>
                  </tr>
                  <td><b>Found: </b>1 Artist(s)
                  </td>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Spain</h2><b>Description:</b><br><description>
         		Description
         		
      </description>
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Artists</h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Pablo Picasso( 1881-10-25 to 1973-04-08, born in Malaga )</td>
                  </tr>
                  <td><b>Found: </b>1 Artist(s)
                  </td>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3>Exhibtions</h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Guernica, <b>Type: </b>PAINTING<br><br><b>Label: </b><br><i>
                           				Guernica Pablo Picasso.
                           			</i><br><br><b>Created By: </b><ul>
                           <li>Pablo Picasso( 1881-10-25 to 1973-04-08, born in Malaga )</li>
                        </ul>
                     </td>
                  </tr>
                  <td><b>Found: </b>1 Exhibition(s)
                  </td>
               </table>
            </td>
         </tr>
      </table>
      <hr>
   </body>
</html>